/*

Icons: https://www.iconfinder.com/iconsets/miu

Pallete:
    US Open Tennis (http://www.colourlovers.com/palette/942239/[p]_US_Open_Tennis): 
        Tennis Time: #94BEFA,
        US Open Tennis: #6790D0,
        US Open Blue: #16377A,
        Enumerous Epiphany: #18151C,
        Arthur Ashe Stadium: #759252
    http://www.colourlovers.com/palette/2117949/Young_Old#
    http://www.colourlovers.com/palette/2821762/Sp-outfit_04-25-2013
    http://www.colourlovers.com/palette/3386528/tennis
    http://www.colourlovers.com/pattern/4866/tennis_player
    http://www.colourlovers.com/pattern/1109179/Tennis_time

*/

.colors {
    color: #94BEFA;
    color: #6790D0;
    color: #16377A;
    color: #18151C;
    color: #759252;
}

body {
    font-family: Calibri, Helvetica, Arial, sans-serif;
    font-size: 11pt;

    margin: 0 auto;
    padding: 10px;
    color: #18151C;
}

.page-title {
    font: bold 20pt Calibri, Helvetica, Arial, sans-serif;
    color:#16377A;
}

#button {
    font-family: Calibri, Helvetica, Arial, sans-serif;
    font-size: 12pt;
    border-radius: 3px;
    cursor: pointer;
}
#button:hover {
    background: #759252;
    box-shadow:0 0 1px #759252;
}

a:link { text-decoration: none; }

p {
    margin:0;
}

input {
    font-family: Calibri, Helvetica, Arial, sans-serif;
    font-size: 12pt;
}

#base-title {
    position:relative;
    display: block;
    color: #18151C;
    font-size: 12px;
    text-align: right;
    margin-bottom: 30px;
    text-decoration: none;
}

.header {
    background:#94BEFA;
    border-top: thin solid #16377A;
    text-align:left;
    padding: 2px;
}

.flashes {
    width: 500px;
    color: black;
    background: #759252;
}

.main-table {
    padding: 2px;
}

.main-table td {
    border-top: thin solid #16377A;
}

.main-table td:last-child {
    border-right: thin solid #16377A;
}

.main-table-comment {
    font-size: 10pt;
    border-top: thin dotted #16377A;
    border-right: none;
}

.player-table {
    padding: 2px;
}

.player-table td {
    border-right: thin solid #16377A;
    border-top: thin solid #16377A;
}

.player-table tr:nth-child(1) td {
    border-top: thin solid #16377A;
}

.player_name {
    font: bold 16pt Calibri, Helvetica, Arial, sans-serif;
    color:#16377A;
}

.player_data {
    font: 14pt Calibri, Helvetica, Arial, sans-serif;
    color:#16377A;
}

.year {
    font: bold 22pt Calibri, Helvetica, Arial, sans-serif;
    color:#6790D0;
}

.copyright {
    position: relative;
    bottom: 0;
    padding:4px;
    background:#759252;
}

/*
..post + .post {
    margin-top: 15px;
}
*/

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.post-date {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #999;

}

.post-content {
    margin-top: 5px;
}

.query-delay {
    position: absolute;
}

