<!-- # -*- coding: utf-8 -*- -->

{% extends "base.html" %}

{% block content %}

<form method="post">
    <p><div class="page-title">Vnos novega dogodka</div><br>
    <ol>
        <li>Dodaj vse nove vire</li>
        <li>Dodaj nov dogodek</li>
    </ol>
    <table id="player-table">
		<tr><td>Datum: </td><td><label>
            <input style="width:3cm" type="text" name="date">
        </label></td></tr>
	</table> <br>
	<input type="Submit" name="Status" id="button" value="Dodaj vir">
	<input type="Submit" name="Status" id="button" value="Dodaj dogodek">
	<input type="Submit" name="Status" id="button" value="Prekliči">
</form>

{% endblock %}	
