<!-- # -*- coding: utf-8 -*- -->

{% extends "base.html" %}

{% block content %}

<form method="post">
        <table id="player-table">
		<tr><td>Datum:</td><td><label>
            <input style="width:3cm" type="text" name="date" value="{{ date }}">
        </label></td></tr>
		<tr><td colspan="3">Dogodek:</td> <td><label>
            <input style="width:10cm" type="text" name="event">
        </label></td></tr>
		<tr><td>Kraj:</td> <td><label>
            <input type="text" name="place">
        </label></td></tr>
		<tr><td></td> <td></td> <td>Kategorija</td> <td>Uvrstitev</td></tr>
        {%  for i in range(1,6) %}
    		<tr><td>Igralec {{ i }}</td>
                <td><label><input type="text" name="player{{ i }}"></label>
                    <label><input style="width:3cm" type="text" name="category{{ i }}"></label>
                    <label><input style="width:3cm" type="text" name="result{{ i }}"></label></td></tr>
        {%  endfor %}
		<tr><td>Komentar:</td><td><label><textarea rows="4" cols="60" name="comment"></textarea></label></td></tr>
		<tr><td>Dokument 1:</td> <td><label>
             <label><select name="att1">
                 <option value=""></option>
                 {% for att in atts %}
                     <option value="{{ att }}">{{ att }} </option>
                 {% endfor %}
             </select></label>
       </label></td></tr>
		<tr><td>Dokument 2:</td> <td><label>
             <label><select name="att2">
                 <option value=""></option>
                 {% for att in atts %}
                     <option value="{{ att }}">{{ att }} </option>
                 {% endfor %}
             </select></label>
        </label></td></tr>
		<tr><td>Dokument 3:</td> <td><label>
             <label><select name="att3">
                 <option value=""></option>
                 {% for att in atts %}
                     <option value="{{ att }}">{{ att }} </option>
                 {% endfor %}
             </select></label>
        </label></td></tr>
		<tr><td>Dokument 4:</td> <td><label>
            <input style="width:10cm" type="text" name="att4">
        </label></td></tr>
		<tr><td>Vir:</td> <td><label>
            <input type="text" name="source">
        </label></td></tr>
	</table> <br>
	<input type="Submit" name="Status" id="button" value="Shrani">
	<input type="Submit" name="Status" id="button" value="Prekliči">
	<button type="Reset"               id="button" value="Reset">Obnovi</button>
</form>

{% endblock %}	
