<!DOCTYPE html>
<meta charset="utf-8">

<html>
<head>
	<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='main.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='tenis1.ico') }}">

	<title>Dogodki in rezultati TK Triglav od l. 1954 dalje</title>
</head>
	
<body>
    <div style="position:relative; float:left; width:90%; height:140px; margin:0; overflow:hidden;">
        <img src="{{ url_for('static',filename='TH.jpg') }}" style="width:1224px; height:130px;">
    </div>
    <div style="position:relative; float:left; width:10%; text-align:center;">
        <div style="display:block; margin-left:20px; margin-top:40px;">
        {% if current_user.is_authenticated() %}
            {{current_user.username}} |
		    <a href="{{ url_for('logout', next=request.url) }}"><img src="{{ url_for('static',filename='unlock-24.png') }}" title="Odjava uporabnika"></a>
        {% else %}
		    <a href="{{ url_for('login', next=request.url) }}"><img src="{{ url_for('static',filename='lock-24.png') }}" title="Prijava uporabnika"></a> |
		    <a href="{{ url_for('signup', next=request.url) }}" ><img src="{{ url_for('static',filename='signin-24.png') }}" title="Registracija uporabnika"></a>
        {% endif %}
	</div>
    </div><br>
    <div style="clear:both; position:relative;">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </div>

    {% block content %}
    {% endblock %}

    <br>
    <footer class="copyright" style="clear:both; position:fixed; bottom:0; left:0; right:0; height:16px">
        Podatke zbral in obdelal Davor Žnidar, 2013&#8211;15.
    </footer>

</body>

</html>
