{% macro event(date, name, place) -%}
    <div class="col-md-2 col-xs-3 panel-title">{{ date }}</div>
    <div class="col-md-3 col-xs-5 panel-title"><b>{{ name }}</b></div>
    <div class="col-md-2 col-xs-4 panel-title">{{ place }}</div>
{%- endmacro %}


{% macro result_line1(category, result, player, link_player) -%}
    <div class="col-md-1 col-xs-3">{{ category }}</div>
    <div class="col-md-1 col-xs-3">{{ result }}</div>
    <div class="col-md-2 col-xs-5">
        {%  if link_player == "" %}
            <span class='pull-right'><i>{{ player }}</i></span>
        {% else %}
                <a href="{{ url_for('tennis_events', p=link_player) }}">{{ player }}</a>
        {% endif %}
    </div>
{%- endmacro %}


{% macro atts_line2(y, att1, att2, att3, att4, loop_no, current_user) -%}
    <div class="col-sm-2"></div>
    <div class="col-sm-5">
        {{ show_att(y, att1, 1, loop_no, current_user) }}
        {{ show_att(y, att2, 2, loop_no, current_user) }}
        {{ show_att(y, att3, 3, loop_no, current_user) }}
        {{ show_att(y, att4, 4, loop_no, current_user) }}
    </div>
{%- endmacro %}


{% macro show_att(y, att, att_no, loop_no, current_user) -%}
    {% if att != "" and att[:4] != "err_" %}
        {% if att[-4:] == ".pdf" or att[-4:] == ".PDF" %}
            <a href="{{ url_for('static',filename='/files/'+y+'/'+att) }}" target="_blank">
                <img src="{{ url_for('static',filename='pdf.png') }}">
            </a>
        {% else %}
            <img data-toggle="modal" data-target="#Att{{att_no}}-{{y}}{{loop_no}}"
                 src="{{ url_for('static',filename='/files/'+y+'/'+att) }}" height="80">
            <div class="modal fade" id="Att{{att_no}}-{{y}}{{loop_no}}" tabindex="0" role="dialog">
                <div class="modal-dialog" role="document"><div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ y }}: {{ att }}</h4>
                  </div>
                  <div class="modal-body">
                      <img src="{{ url_for('static',filename='/files/'+y+'/'+att) }}">
                  </div>
                </div></div>
            </div>
        {% endif %}
        {% if current_user.utype >= 4 %}
            <a href="{{ url_for('edit_file', next=request.url, n=y+'/'+att) }}">
                <span class="glyphicon glyphicon-picture">&nbsp;&nbsp;</span></a>
        {% endif %}
    {% endif %}
{%- endmacro %}


