<!-- # -*- coding: utf-8 -*- -->

{% extends "base.html" %}

{% block content %}

    <p><div class="page-title">Brisanje datoteke</div><br>
    <form method="post">
        <table id="player-table">
		<tr><th>Datoteka:</th> <td>{{ fname }}</td></tr>
	</table> <br>
	<input type="hidden" name="Year" value="{{ fname[:4] }}">
	<input type="hidden" name="Fname" value="{{ fname[5:] }}">
	<input type="Submit" name="Status" id="button" value="Izbriši">
	<input type="Submit" name="Status" id="button" value="Prekliči">
</form>

{% endblock %}	
