<!-- # -*- coding: utf-8 -*- -->

{% extends "base.html" %}

{% block content %}

    <p><div class="page-title">Popravljanje podatkov uporabnika</div><br>
    <form action="{{ url_for('EditUser') }}" method="post">
        <table>
		<tr><th>uporabnik</th> <th>{{ user.username }}<input type="hidden" name="username" value="{{ user.username }}"></th></tr>
		<tr><th>pravice</th> <td><select name="utype">
			<option value="0" {% if user.utype==0 %}selected{% endif %}>bralec</option>
			<option value="1" {% if user.utype==1 %}selected{% endif %}>komentator</option>
			<option value="2" {% if user.utype==2 %}selected{% endif %}>avtor</option>
			<option value="3" {% if user.utype==3 %}selected{% endif %}>urednik</option>
			<option value="4" {% if user.utype==4 %}selected{% endif %}>administrator</option>
		</option></td></tr>
		<tr><th>vključen</th> <td>
			<input type="radio" name="active" value="1" {% if user.active %} checked {% endif %}>da
			<input type="radio" name="active" value="0" {% if not user.active %} checked {% endif %}>ne
		</td></tr>
		<tr><th>el. pošta</th> <td><input style="width:36m" type="text" name="email" value="{{ user.email }}"></td></tr>
	</table> <br>
	<input type="hidden" name="ident" value="{{ user.ident }}">
	<input type="Submit" name="Status" id="button" value="Shrani">
	<input type="Submit" name="Status" id="button" value="Prekliči">
	<button type="Reset"               id="button" value="Reset">Obnovi</button>
    </form>

{% endblock %}	
