<!-- # -*- coding: utf-8 -*- -->

{% extends "base.html" %}

{% block content %}

    <p><div class="page-title">Popravljanje dogodka</div><br>
    <form method="post">
        <table id="player-table">
		<tr><th>Datum:</th> <td><label>
            <input style="width:3cm" type="text" name="date" value="{{ event.LocalDate }}">
        </label></td></tr>
		<tr><th>Dogodek:</th> <td><label>
            <input style="width:10cm" type="text" name="event" value="{{ event.Event }}">
        </label></td></tr>
		<tr><th>Kraj:</th> <td><label>
            <input type="text" name="place" value="{{ event.Place }}">
        </label></td></tr>
		<tr><th>Kategorija:</th> <td><label>
            <input style="width:3cm" type="text" name="category" value="{{ event.Category }}">
        </label></td></tr>
		<tr><th>Rezultat:</th> <td><label>
            <input style="width:3cm" type="text" name="result" value="{{ event.Result }}">
        </label></td></tr>
		<tr><th>Igralec:</th> <td><label>
            <input type="text" name="player" value="{{ event.Player }}">
        </label></td></tr>
		<tr><th>Komentar:</th> <td><label>
            <textarea rows="4" cols="60" name="comment">{{ event.Comment }}</textarea>
        </label></td></tr>
		<tr><th>Dokument 1:</th> <td>
            {% if atts and current_user.utype >= 3 %}
                <label><select name="att1">
                    {% set show = 0 %}
                    {% for att in atts %}
                        <option value="{{ att }}"
                            {% if att ==  event.Att1 %} selected {% set show = 1 %}{%  endif %}
                        >{{ att }} {{ show }}</option>
                    {% endfor %}
                </select>{{ show }}</label>
                {%  if show == 0 %}{{ event.Att1 }}{% endif %}
            {%  endif %}
        </td></tr>
		<tr><th>Dokument 2:</th> <td>
            {% if atts and current_user.utype >= 3 %}
                <label><select name="att2">
                    {% set show = 0 %}
                    {% for att in atts %}
                        <option value="{{ att }}"
                            {% if att ==  event.Att2 %} selected {% set show = 1 %}{%  endif %}
                        >{{ att }}</option>
                    {% endfor %}
                </select></label>
                {%  if show == 0 %}{{ event.Att2 }}{% endif %}
            {%  endif %}
        </td></tr>
		<tr><th>Dokument 3:</th> <td>
            {% if atts and current_user.utype >= 3 %}
                <label><select name="att3">
                    {% set show = 0 %}
                    {% for att in atts %}
                        <option value="{{ att }}"
                            {% if att ==  event.Att3 %} selected {% set show = 1 %}{%  endif %}
                        >{{ att }}</option>
                    {% endfor %}
                </select></label>
                {%  if show == 0 %}{{ event.Att3 }}{% endif %}
            {%  endif %}
        </td></tr>
		<tr><th>Dokument 4:</th> <td>
            {% if atts and current_user.utype >= 3 %}
                <label><select name="att4">
                    {% set show = 0 %}
                    {% for att in atts %}
                        <option value="{{ att }}"
                            {% if att ==  event.Att4 %} selected {% set show = 1 %}{%  endif %}
                        >{{ att }}</option>
                    {% endfor %}
                </select></label>
                {%  if show == 0 %}{{ event.Att4 }}{% endif %}
            {%  endif %}
        </td></tr>
		<tr><th>Vir:</th> <td><label>
            <input type="text" name="source" value="{{ event.Source }}">
        </label></td></tr>
	</table> <br>
	<input type="hidden" name="Id" value="{{ event.Id }}">
	<input type="Submit" name="Status" id="button" value="Shrani">
	<input type="Submit" name="Status" id="button" value="Prekliči">
	<button type="Reset"               id="button" value="Reset">Obnovi</button>
    </form>

{% endblock %}	
