<!-- # -*- coding: utf-8 -*- -->

{% extends "base.html" %}

{% block content %}

    <p><div class="page-title">Popravljanje podatkov igralca</div><br>
    <form action="{{ url_for('EditPlayer') }}" method="post">
        <table>
		<tr><th>igralec</th> <th>{{ player.Name }}<input type="hidden" name="name" value="{{ player.Name }}"></th></tr>
		<tr><th>leto rojstva</th> <td><input type="text" name="born" value="{{ player.Born }}"></td></tr>
		<tr><th>leto smrti</th> <td><input type="text" name="died" value="{{ player.Died }}"></td></tr>
		<tr><th>opombe</th> <td><textarea rows="6" cols="60" name="comment">{{ player.Comment }}</textarea></td></tr>
		<tr><th>slika</th> <td><input type="text" name="picture" value="{{ player.Picture }}"></td></tr>
	</table> <br>
	<input type="Submit" name="Status" id="button" value="Shrani">
	<input type="Submit" name="Status" id="button" value="Prekliči">
	<button type="Reset"               id="button" value="Reset">Obnovi</button>
    </form>

{% endblock %}	
