<!-- # -*- coding: utf-8 -*- -->

{% extends "base.html" %}

{% block content %}

    <p><div class="page-title">Popravljanje datoteke</div><br>
    <div style="float:left; width:20%;"><form method="post">
        <table  id="player-table">
		<tr><th style="width:100px">leto</th>
            <td><label><select name="new_year" {% if events %}disabled{% endif %}>
                {% for y in years %}
                    <option value="{{ y }}"{% if y == year %} selected {%  endif %}>{{ y }}</option>
                {% endfor %}
            </select></label></td></tr>
		<tr><th>datoteka</th>
            <td><label><input style="width:250px" type="text" name="new_fname" value="{{ fname }}"></label></td></tr>
        <tr><th>Velikost</th><td>{{ fsize }}</td></tr>
        <tr><th></th>
            <td><label><input type="checkbox" value="1" name="1024"></label>Zmanjšaj na (1024x1024)</td></tr>
        <tr><th>Dogodki</th>
            <td>
                {% for event in events %}
                    {{ event }}<br>
                {% endfor %}
            </td></tr>
	</table> <br>
	<input type="hidden" name="old_year" value="{{ year }}">
	<input type="hidden" name="old_fname" value="{{ fname }}">
	<input type="Submit" name="Status" id="button" value="Popravi">
	<input type="Submit" name="Status" id="button" value="Kopiraj">
	<input type="Submit" name="Status" id="button" value="Prekliči">
	<button type="Reset"               id="button" value="Reset">Obnovi</button>
    </form></div>

    <div  style="float:left; width:80%;">>
        <img src="{{ url_for('static',filename='/files/'+year+'/'+fname) }}" width="600"">
    </div>

{% endblock %}	
