<!--# -*- coding: utf-8 -*- -->

{% extends "base1.html" %}

{% block next %}/{% endblock %}
{% block content %}

	<style>
        .navbar-brand {
            float: left;
            height: 40px;
            padding: 5px 20px;
            line-height: 40px;
            width: 80px;
        }
	</style>


    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img alt="TK Triglav logo" src="{{ url_for('static', filename='TH1.jpg') }}"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" name="f" class="form-control" value="{{ event_filter }}" placeholder="izberi dogodke">
                        <input type="hidden" name="y" value="{{ year }}">
                        <input type="hidden" name="p" value="{{ player_name }}">
                    </div>
                </form>

                <ul class="nav navbar-nav navbar-left">
                    <!--div class="btn-group" role="group"-->
                        <li><a href="{{ url_for('tennis_events', f=event_filter, y=prev_y, p=player_name) }}" role="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-chevron-left"></span></a></li>
                        <!--div class="btn-group" role="group"-->
                            <li><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                leto <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('tennis_events', f=event_filter, y="1949") }}">1949-1959</a></li>
                                <li><a href="{{ url_for('tennis_events', f=event_filter, y="1960") }}">1960-1969</a></li>
                                <li><a href="{{ url_for('tennis_events', f=event_filter, y="1970") }}">1970-1979</a></li>
                                <li><a href="{{ url_for('tennis_events', f=event_filter, y="1980") }}">1980-1989</a></li>
                                <li><a href="{{ url_for('tennis_events', f=event_filter, y="1990") }}">1990-1999</a></li>
                                <li><a href="{{ url_for('tennis_events', f=event_filter, y="2000") }}">2000-2009</a></li>
                                <li><a href="{{ url_for('tennis_events', f=event_filter, y="2010") }}">2010-</a></li>
                            </ul>
                            </li>
                        <!--/div-->
                        <li><a href="{{ url_for('tennis_events', f=event_filter, y=next_y, p=player_name) }}" role="button"
                           class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                    <!--/div-->
                </ul>

                <ul class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                    </ul>
                </ul>

                <ul class="nav navbar-nav navbar-left dropdown">
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        {% for player in players %}
                            {%  if player|length > 1 %}
                                <li><a href="{{ url_for('tennis_events', f="", y="", p=player) }}">
                                    {{ player }}</a></li>
                            {%  endif %}
                        {% endfor %}
                    </ul>
                </ul>

                <!--ul class="nav navbar-nav navbar-left">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        igralec <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        {% for player in players %}
                            {%  if player|length > 1 %}
                                <li><a href="{{ url_for('tennis_events', f="", y="", p=player) }}">
                                    {{ player }}</a></li>
                            {%  endif %}
                        {% endfor %}
                    </ul>
                </div>
                </ul-->

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Registracija</a></li>
                    <li class="dropdown">
                     <a href="http://www.jquery2dotnet.com" class="dropdown-toggle" data-toggle="dropdown">
                         Prijava <b class="caret"></b></a>
                     <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                          <li>
                              <div class="row">
                                  <div class="col-md-12">
                                      <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                          <div class="form-group">
                                              <label class="sr-only" for="exampleInputEmail2">uporabniško ime</label>
                                              <input type="email" class="form-control" id="exampleInputEmail2" placeholder="uporabniško ime" required>
                                          </div>
                                          <div class="form-group">
                                              <label class="sr-only" for="exampleInputPassword2">geslo</label>
                                              <input type="password" class="form-control" id="exampleInputPassword2" placeholder="geslo" required>
                                          </div>
                                          <div class="checkbox">
                                              <label>
                                              <input type="checkbox"> Zapomni si prijavo
                                              </label>
                                          </div>
                                              <div class="form-group">
                                              <button type="submit" class="btn btn-success btn-block">Prijavi me</button>
                                          </div>
                                      </form>
                                  </div>
                              </div>
                          </li>
                     </ul>
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>


    <!-- Begin page content -->
    <div class="container scroll">
        {% if events %}
            <a class="next" href="{{ url_for("events_year", y=year, p=player_name, f=event_filter) }}">
                leto {{ zear }}</a>
        {% endif %}
    </div>


    <script>
        $(document).on('click', '.panel-heading span.clickable', function(e){
            var $this = $(this);
            if(!$this.hasClass('panel-collapsed')) {
                $this.parents('.panel').find('.panel-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-right');
            } else {
                $this.parents('.panel').find('.panel-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-chevron-right').addClass('glyphicon-chevron-down');
            }
        });

        $(document).ready(function(){
            //Handles menu drop down
            $('.dropdown-menu').find('form').click(function (e) {
                e.stopPropagation();
            });

            $('.scroll').jscroll({
                autoTrigger: true,
                nextSelector: 'a.next:last',
                contentSelector: '',
                loadingHtml: '<small>Počakaj...</small>',
                debug: false
            })
       });
    </script>


    <div style="clear:both;"></div>


{% endblock %}		
