    <!-- Begin page content -->
    {% if events %}
        {% set year = [0] %}
        {% for (group,event) in events %}
            {% if year[0] != event.Date[:4] %}
                <div class="page-header">
                    <a href="{{ url_for('tennis_events',y=event.Date[:4]) }}" class="year">{{ event.Date[:4] }}</a>
                </div>
                {% set year = [event.Date[:4]] %}
            {% endif %}

            {% set y = event.Date[:4] %}
            {% if event.Date[4:] == "/00/00" %}
                {%  set date = y %}
            {% elif event.Date[7:] == "/00" %}
                {% set date = event.Date[5:7] + "." + y %}
            {% else %}
                {% set date = event.Date[8:] + "." +  event.Date[5:7] + "." + y %}
            {% endif %}

            {% if group == 0 %} <!-- single entry -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            {%  set show_more = False %}
                            {% if event.Att1 != "" and event.Att1[:4] != "err_" %}
                                {%  set show_more = True %}
                            {% elif event.Att2 != "" and event.Att2[:4] != "err_" %}
                                {%  set show_more = True %}
                            {% endif %}
                            <div class="col-sm-2 panel-title">{{ date }}</div>
                            <div class="col-sm-3 panel-title"><b>{{ event.Event }}</b></div>
                            <div class="col-sm-2 panel-title">{{ event.Place }}</div>
                            <div class="col-sm-1">{{ event.Category }}</div>
                            <div class="col-sm-1">{{ event.Result }}</div>
                            <div class="col-sm-2">
                                <a href="{{ url_for('tennis_players', p=event.Player) }}">{{ event.Player }}</a>
                            </div>
                            {% if show_more %}
                                <span class="pull-right clickable panel-collapsed">
                                    <i class="text-primary glyphicon glyphicon-chevron-right">&nbsp;</i></span>
                         </div> <div class="row">
                                <div class="col-sm-2 panel-title"></div>
                                <div class="panel-body panel-collapse collapse">
                                    {% if event.Att1 != "" and event.Att1[:4] != "err_" %}
                                        <a href="{{ url_for('static',filename='/files/'+y+'/'+event.Att1) }}" target="_blank">
                                            <img src="{{ url_for('static',filename='/files/'+y+'/'+event.Att1) }}" height="50"></a>
                                    {% endif %}
                                    {% if event.Att2 != "" and event.Att2[:4] != "err_" %}
                                        <a href="{{ url_for('static',filename='/files/'+y+'/'+event.Att2) }}" target="_blank">
                                            <img src="{{ url_for('static',filename='2.png') }}"></a>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

            {% elif group > 0 %} <!-- group -->
                {% if group == 1 %} <!-- start group -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row panel-title">
                                <div class="col-sm-2">{{ date }}</div>
                                <div class="col-sm-3"><b>{{ event.Event }}</b></div>
                                <div class="col-sm-2">{{ event.Place }}</div>
                                <div class="col-sm-4"><span class="pull-right"><i>igralci</i></span></div>
                                <span class="pull-right clickable panel-collapsed">
                                    <i class="text-primary glyphicon glyphicon-chevron-right">&nbsp;</i></span>
                            </div>
                        </div>
                        <div class="panel-body panel-collapse collapse">
                {% endif %}
                            <div class="row">
                                <div class="col-sm-7"></div>
                                <div class="col-sm-1">{{ event.Category }}</div>
                                <div class="col-sm-1">{{ event.Result }}</div>
                                <div class="col-sm-3">
                                    <a href="{{ url_for('show_player', n=event.Player) }}">{{ event.Player }}</a>
                                </div>
                            </div>
                {% if group == 3 %} <!-- end group -->
                        </div>
                    </div>
                {% endif %}

            {% endif %}

        {% endfor %}

        <a class="next" href="{{ url_for("events_year", y=next_y, p=player_name, f=event_filter) }}">
            leto {{ next_y }}</a>

    {% endif %}
