<!--# -*- coding: utf-8 -*- -->

{% extends "base1.html" %}

{% block next %}/{% endblock %}
{% block content %}


	<style>
        .navbar-brand {
            float: left;
            height: 40px;
            padding: 5px 20px;
            line-height: 40px;
            width: 80px;
        }
	</style>


    <nav class="navbar navbar-default">
          <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#"><img alt="TK Triglav logo" src="{{ url_for('static', filename='TH1.jpg') }}"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form class="navbar-form navbar-left" role="search">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="dogodek">
                      </div>
                    </form>

                    <form class="navbar-form navbar-left" role="search">
                        <div class="btn-group" role="group" aria-label="...">
                            <a href="{{ url_for('tennis_events',y=prev_y) }}" role="button"
                               class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></a>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    leto <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ url_for('tennis_events', y="1949") }}">1949-1959</a></li>
                                    <li><a href="{{ url_for('tennis_events', y="1960") }}">1960-1969</a></li>
                                    <li><a href="{{ url_for('tennis_events', y="1970") }}">1970-1979</a></li>
                                    <li><a href="{{ url_for('tennis_events', y="1980") }}">1980-1989</a></li>
                                    <li><a href="{{ url_for('tennis_events', y="1990") }}">1990-1999</a></li>
                                    <li><a href="{{ url_for('tennis_events', y="2000") }}">2000-2009</a></li>
                                    <li><a href="{{ url_for('tennis_events', y="2010") }}">2010-</a></li>
                                    {% for year in years %}
                                        <li><a href="{{ url_for('tennis_events', y=year, next=request.url) }}">
                                            {{  year }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <a href="{{ url_for('tennis_events',y=next_y) }}" role="button"
                               class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </form>

                    <form class="navbar-form navbar-left" role="search">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            igralec <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                {% for player in players %}
                                    {%  if player|length > 1 %}
                                        <li><a href="player?p={{ player }}">{{ player }}</a></li>
                                    {%  endif %}
                                {% endfor %}
                                <li><a href="#">Davor Znidar</a></li>
                                <li><a href="#">Vesna Znidar</a></li>
                                <li><a href="#">Davor Znidar</a></li>
                                <li><a href="#">Vesna Žnidar</a></li>
                                <li><a href="#">Davor Žnidar</a></li>
                                <li><a href="#">Vesna Žnidar</a></li>
                            </ul>
                        </div>
                    </form>


               <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">Registracija</a></li>
                  <li class="dropdown">
                     <a href="http://www.jquery2dotnet.com" class="dropdown-toggle" data-toggle="dropdown">Prijava <b class="caret"></b></a>
                     <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                        <li>
                           <div class="row">
                              <div class="col-md-12">
                                 <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                    <div class="form-group">
                                       <label class="sr-only" for="exampleInputEmail2">uporabniško ime</label>
                                       <input type="email" class="form-control" id="exampleInputEmail2" placeholder="uporabniško ime" required>
                                    </div>
                                    <div class="form-group">
                                       <label class="sr-only" for="exampleInputPassword2">geslo</label>
                                       <input type="password" class="form-control" id="exampleInputPassword2" placeholder="geslo" required>
                                    </div>
                                    <div class="checkbox">
                                       <label>
                                       <input type="checkbox"> Zapomni si prijavo
                                       </label>
                                    </div>
                                    <div class="form-group">
                                       <button type="submit" class="btn btn-success btn-block">Prijavi me</button>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </li>
               </ul>

                </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
    </nav>


    <!-- Begin page content -->
    <div class="container scroll">
    <div class="panel-group" id="results">
    {% if events %}
        {% set year = [0] %}
        {% for (group,event) in events %}
            {% if year[0] != event.Date[:4] %}
                <div class="page-header">
                    <a href="{{ url_for('tennis_events',y=event.Date[:4]) }}" class="year">{{ event.Date[:4] }}</a>
                </div>
                {% set year = [event.Date[:4]] %}
                <div class="row header">
                    <div class="col-sm-2 panel-title">datum</div>
                    <div class="col-sm-3 panel-title">dogodek</div>
                    <div class="col-sm-2 panel-title">kraj</div>
                    <div class="col-sm-1">kategorija</div>
                    <div class="col-sm-1">rezultat</div>
                    <div class="col-sm-3">igralec</div>
                </div>
            {% endif %}

            {% if event.Date[4:] == "/00/00" %}
                {%  set date = event.Date[:4] %}
            {% elif event.Date[7:] == "/00" %}
                {% set date = event.Date[5:7] + "." + event.Date[:4] %}
            {% else %}
                {% set date = event.Date[8:] + "." +  event.Date[5:7] + "." + event.Date[:4] %}
            {% endif %}

            {% if group == 0 %} <!-- single entry -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-2 panel-title">{{ date }}</div>
                            <div class="col-sm-3 panel-title"><b>{{ event.Event }}</b></div>
                            <div class="col-sm-2 panel-title">{{ event.Place }}</div>
                            <div class="col-sm-1">{{ event.Category }}</div>
                            <div class="col-sm-1">{{ event.Result }}</div>
                            <div class="col-sm-3">
                                <a href="{{ url_for('show_player', n=event.Player) }}">{{ event.Player }}</a>
                            </div>
                        </div>
                    </div>
                </div>

            {% elif group > 0 %} <!-- group -->
                {% if group == 1 %} <!-- start group -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row panel-title">
                                <div class="col-sm-2">{{ date }}</div>
                                <div class="col-sm-3"><b>{{ event.Event }}</b></div>
                                <div class="col-sm-2">{{ event.Place }}</div>
                                <div class="col-sm-4"><span class="pull-right"><i>igralci</i></span></div>
                                <span class="pull-right clickable panel-collapsed">
                                    <i class="text-primary glyphicon glyphicon-chevron-right">&nbsp;</i></span>
                            </div>
                        </div>
                        <div class="panel-body panel-collapse collapse">
                {% endif %}
                            <div class="row">
                                <div class="col-sm-7"></div>
                                <div class="col-sm-1">{{ event.Category }}</div>
                                <div class="col-sm-1">{{ event.Result }}</div>
                                <div class="col-sm-3">
                                    <a href="{{ url_for('show_player', n=event.Player) }}">{{ event.Player }}</a>
                                </div>
                            </div>
                {% if group == 3 %} <!-- end group -->
                        </div>
                    </div>
                {% endif %}

            {% endif %}

        {% endfor %}

    {% endif %}
    </div>

        <a class="next" href="{{ url_for("tennis_events_year", y=next_y) }}">leto {{ next_y }}</a>

    </div>


    <script>
        $(document).on('click', '.panel-heading span.clickable', function(e){
            var $this = $(this);
            if(!$this.hasClass('panel-collapsed')) {
                $this.parents('.panel').find('.panel-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-right');
            } else {
                $this.parents('.panel').find('.panel-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-chevron-right').addClass('glyphicon-chevron-down');
            }
        });

        $(document).ready(function(){
            //Handles menu drop down
            $('.dropdown-menu').find('form').click(function (e) {
                e.stopPropagation();
            });

            $('.scroll').jscroll({
                autoTrigger: true,
                nextSelector: 'a.next:last',
                contentSelector: '',
                debug: true
            })
       });
    </script>


    <div style="clear:both;"></div>


{% endblock %}		
