<!--# -*- coding: utf-8 -*- -->

{% extends "base1.html" %}



{% macro show_event(date, name, place) -%}
    <div class="col-sm-2 panel-title">{{ date }}</div>
    <div class="col-sm-3 panel-title"><b>{{ name }}</b></div>
    <div class="col-sm-2 panel-title">{{ place }}</div>
{%- endmacro %}


{% macro show_result_line1(category, result, player, link_player) -%}
    <div class="col-sm-1">{{ category }}</div>
    <div class="col-sm-1">{{ result }}</div>
    <div class="col-sm-3">
        <a href="{{ url_for('tennis_events', p=link_player) }}">{{ player }}</a>
    </div>
{%- endmacro %}


{% macro show_att(y, att, att_no, loop_no) -%}
    {% if att != "" and att[:4] != "err_" %}
        {% if att[-4:] == ".pdf" or att[-4:] == ".PDF" %}
            <a href="{{ url_for('static',filename='/files/'+y+'/'+att) }}" target="_blank">
                <img src="{{ url_for('static',filename='pdf.png') }}"></a>
        {% else %}
            <img data-toggle="modal" data-target="#Att{{att_no}}-{{y}}{{loop_no}}"
                 src="{{ url_for('static',filename='/files/'+y+'/'+att) }}" height="80">
            <div class="modal fade" id="Att{{att_no}}-{{y}}{{loop_no}}" tabindex="0" role="dialog">
                <div class="modal-dialog" role="document"><div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ y }}: {{ att }}</h4>
                  </div>
                  <div class="modal-body">
                      <img src="{{ url_for('static',filename='/files/'+y+'/'+att) }}">
                  </div>
                </div></div>
            </div>
        {% endif %}
    {% endif %}
{%- endmacro %}




{% block next %}/{% endblock %}
{% block content %}

	<style>
        .navbar-brand {
            float: left;
            height: 40px;
            padding: 5px 20px;
            line-height: 40px;
            width: 80px;
        }
	</style>


    <nav class="navbar navbar-default">
          <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#"><img alt="TK Triglav logo" src="{{ url_for('static', filename='TH1.jpg') }}"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form class="navbar-form navbar-left">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="dogodek">
                      </div>
                    </form>

                    <form class="navbar-form navbar-left">
                        <div class="btn-group" role="group" aria-label="...">
                            <a href="{{ url_for('tennis_events',y=prev_y, p=player_name, f=event_filter) }}" role="button"
                               class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></a>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    leto <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ url_for('tennis_events', y="1949", f=event_filter) }}">1949-1959</a></li>
                                    <li><a href="{{ url_for('tennis_events', y="1960", f=event_filter) }}">1960-1969</a></li>
                                    <li><a href="{{ url_for('tennis_events', y="1970", f=event_filter) }}">1970-1979</a></li>
                                    <li><a href="{{ url_for('tennis_events', y="1980", f=event_filter) }}">1980-1989</a></li>
                                    <li><a href="{{ url_for('tennis_events', y="1990", f=event_filter) }}">1990-1999</a></li>
                                    <li><a href="{{ url_for('tennis_events', y="2000", f=event_filter) }}">2000-2009</a></li>
                                    <li><a href="{{ url_for('tennis_events', y="2010", f=event_filter) }}">2010-</a></li>
                                </ul>
                            </div>
                            <a href="{{ url_for('tennis_events',y=next_y, p=player_name, f=event_filter) }}" role="button"
                               class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </form>

                    <form class="navbar-form navbar-left">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            igralec <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                {% for player in players %}
                                    {%  if player|length > 1 %}
                                        <li><a href="{{ url_for('tennis_events', p=player, f=event_filter) }}">
                                            {{ player }}</a></li>
                                    {%  endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </form>


               <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">Registracija</a></li>
                  <li class="dropdown">
                     <a href="http://www.jquery2dotnet.com" class="dropdown-toggle" data-toggle="dropdown">
                         Prijava <b class="caret"></b></a>
                     <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                        <li>
                           <div class="row">
                              <div class="col-md-12">
                                 <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                    <div class="form-group">
                                       <label class="sr-only" for="exampleInputEmail2">uporabniško ime</label>
                                       <input type="email" class="form-control" id="exampleInputEmail2" placeholder="uporabniško ime" required>
                                    </div>
                                    <div class="form-group">
                                       <label class="sr-only" for="exampleInputPassword2">geslo</label>
                                       <input type="password" class="form-control" id="exampleInputPassword2" placeholder="geslo" required>
                                    </div>
                                    <div class="checkbox">
                                       <label>
                                       <input type="checkbox"> Zapomni si prijavo
                                       </label>
                                    </div>
                                    <div class="form-group">
                                       <button type="submit" class="btn btn-success btn-block">Prijavi me</button>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </li>
               </ul>

                </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
    </nav>


    <!-- Begin page content -->
    <div class="container scroll">
    <div class="panel-group" id="results">
            <div class="page-header"><div class="row">EVENTS</div></div>
    {% if events %}
        {% set year = [0] %}
        {% for (group,event) in events %}
            <div class="page-header">{{group}}, {{event.Date}}, {{event.Event}}</div>
            {% if year[0] != event.Date[:4] %}
                <div class="page-header">
                    <a href="{{ url_for('tennis_events',y=event.Date[:4], p=player_name, f=event_filter) }}"
                       class="year">{{ event.Date[:4] }}</a>
                </div>
                {% set year = [event.Date[:4]] %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row header">
                            {{ event("datum", "dogodek", "kraj") }}
                            {{ result_line1("kategorija", "rezultat", "igralec", "") }}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% set y = event.Date[:4] %}
            {% if event.Date[4:] == "/00/00" %}
                {%  set date = "" %}
            {% elif event.Date[7:] == "/00" %}
                {% set date = event.Date[5:7] %}
            {% else %}
                {% set date = event.Date[8:] + "." +  event.Date[5:7] %}
            {% endif %}

            {%  set show_more = False %}
            {% if event.Comment != "" or event.Att1 != "" %}
                {%  set show_more = True %}
            {% endif %}

            {% if group == 0 %} <!-- single entry -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            {{ show_event(date, event.Event, event.Place) }}
                            {{ show_result_line1(event.Category, event.Result, event.Player, event.Player) }}
                            {% if show_more %}
                                <span class="pull-right clickable panel-collapsed">
                                    <i class="text-primary glyphicon glyphicon-chevron-right">&nbsp;</i></span>
                                </div> <div class="row">
                                <div class="panel-body panel-collapse collapse">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-5">
                                        {{ show_att(y, event.Att1, 1, loop.index) }}
                                        {{ show_att(y, event.Att2, 2, loop.index) }}
                                        {{ show_att(y, event.Att3, 3, loop.index) }}
                                        {{ show_att(y, event.Att4, 4, loop.index) }}
                                    </div>
                                    <div class="col-sm-5"> {{ event.Comment }}. </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

            {% elif group > 0 %} <!-- group -->
                {% if group == 1 %} <!-- start group -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row panel-title">
                                {{ show_event(date, event.Event, event.Place) }}
                                <div class="col-sm-4"><span class="pull-right"><i>igralci</i></span></div>
                                <span class="pull-right clickable panel-collapsed">
                                    <i class="text-primary glyphicon glyphicon-chevron-right">&nbsp;</i></span>
                            </div>
                        </div>
                        <div class="panel-body panel-collapse collapse">
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-5">
                                    {% set id = loop.index %}
                                    {% for a in event.atts %}
                                        {{ show_att(y, a, loop.index, id) }}
                                    {% endfor %}
                                </div>
                                <div class="col-sm-5">
                {% endif %}
                                    <div class="row">
                                        <div class="col-sm-2">{{ event.Category }}</div>
                                        <div class="col-sm-2">{{ event.Result }}</div>
                                        <div class="col-sm-6">
                                            <a href="{{ url_for('tennis_events', p=event.Player) }}">{{ event.Player }}</a>
                                        </div>
                                    </div>
                {% if group == 3 %} <!-- end group -->
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

            {% endif %}

        {% endfor %}

        <a class="next" href="{{ url_for("events_year", y=next_y, p=player_name, f=event_filter) }}">
            leto {{ next_y }}</a>
    {% endif %}
    </div>
    </div>


    <script>
        $(document).on('click', '.panel-heading span.clickable', function(e){
            var $this = $(this);
            if(!$this.hasClass('panel-collapsed')) {
                $this.parents('.panel').find('.panel-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-right');
            } else {
                $this.parents('.panel').find('.panel-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-chevron-right').addClass('glyphicon-chevron-down');
            }
        });

        $(document).ready(function(){
            //Handles menu drop down
            $('.dropdown-menu').find('form').click(function (e) {
                e.stopPropagation();
            });

            $('.scroll').jscroll({
                autoTrigger: true,
                nextSelector: 'a.next:last',
                contentSelector: '',
                loadingHtml: '<small>Počakaj...</small>',
                debug: false
            })
       });
    </script>


    <div style="clear:both;"></div>


{% endblock %}		
