{% extends "base.html" %}

{% block content %}

    <form method="post">
        &nbsp;&nbsp;
        <a href="{{ url_for('tennis_main') }}"><img src="{{ url_for('static',filename='home-32.png') }}" title="Domov"></a>
        {% if current_user.utype >= 4 %}
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ url_for('upload_picture',next=request.url) }}"><img src="{{ url_for('static',filename='upload-32.png') }}" title="Naloži novo sliko"></a>
        {% endif %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Išči: <label>
        <input type="text" name="search" value="{{ search }}">
    </label>
    </form><br> 

    {% if files %}
        {% set year = 0 %}
        <table>
        {% for file in files %}
            {% if year != file[:4] %}
                {% if year != 0 %}
                    </table>
                {% endif %}
                {% set year = file[:4] %}
                <br><div class="year">{{ year }}</div>
                <table class="main-table">
                    <tr><th style="width:500px;">ime datoteke</th><th></th>
            {% endif %}
             <tr>
             <td><a href="{{ url_for('list_files', n=file) }}">{{ file[5:] }}</a></td>
             <td>
            {% if current_user.utype >= 4 %}
                <a href="{{ url_for('list_files',next=request.url, n=file) }}"><img src="{{ url_for('static',filename='edit-24.png') }}" title="Popravi datoteko"></a>
                <a href="{{ url_for('list_files',next=request.url, n=file) }}"><img src="{{ url_for('static',filename='delete-24.png') }}" title="Briši datoteko"></a>
            {% endif %}
             </td></tr>
        {% endfor %}
        </table>
    {% endif %}
    

{% endblock %}		
