<!-- # -*- coding: utf-8 -*- -->

{% extends "base.html" %}

{% block content %}

    <a href="{{ url_for('tennis_main') }}"><img src="{{ url_for('static',filename='home-32.png') }}" title="Domov"></a>
 
    <p><div class="page-title">Pregled uporabnikov</div><br>
    {% if users %}
	    <table>
		<tr><th>uporabniško ime</th> <th  style="width:120px">pravice </th> <th>aktiven</th>
            <th style="width:250px">el. pošta</th> <th></th></tr>
        {% for user in users %}
			<tr>
			<td>{{ user.username }}</td>
			<td>
				{% if user.utype == 0 %}
					bralec
				{% elif user.utype == 1 %}
					komentator
				{% elif user.utype == 2 %}
					avtor
				{% elif user.utype == 3 %}
					urednik
				{% elif user.utype == 4 %}
					administrator
				{% else %}
					razvijalec
				{% endif %}
			</td>
			<td>{% if user.active %} da {% else %} ne {% endif %}</td>
			<td>{{ user.email}}</td>
            <td><a href="{{ url_for('edit_user',id=user.ident) }}"><img src="{{ url_for('static',filename='edit-24.png') }}" title="Popravi uporabnika"></a>
			</tr>
		{% endfor %}
		</table> <br>
	{% endif %}

{% endblock %}	
