{% extends "base.html" %}

{% block content %}

    <form method="post">
        &nbsp;&nbsp;
        <a href="{{ url_for('tennis_main') }}"><img src="{{ url_for('static',filename='home-32.png') }}" title="Domov"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{ url_for('list_files',y=prevPage) }}"><img src="{{ url_for('static',filename='back_arrow-32.png') }}" title="Prejšnja stran"></a>
        &nbsp;&nbsp;
        <a href="{{ url_for('list_files',y=nextPage) }}"><img src="{{ url_for('static',filename='next_arrow-32.png') }}" title="Naslednja stran"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Išči: <label><input type="text" name="search" value="{{ search }}"></label>
        {% if current_user.utype >= 4 %}
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ url_for('upload_picture',next=request.url) }}"><img src="{{ url_for('static',filename='upload-32.png') }}" title="Naloži nov vir"></a>
        {% endif %}
    </form><br>

    {% if files %}
        <div class="year">{{ files[0][0] }}
            {% if current_user.utype >= 4 %}
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('upload_picture',next=request.url, y=year) }}"><img src="{{ url_for('static',filename='upload-24.png') }}" title="Naloži nov vir v izbranem letu"></a>
            {% endif %}
        </div>
        <table class="main-table">
            <tr><th style="width:500px;">ime vira</th>
                <th style="width:70px; text-align: right;">velikost</th>
                <th style="width:40px; text-align: right;">referenc</th>
            {% if current_user.utype >= 4 %}<th></th>{%  endif %}
        {% for (year, fname, fsize, refs) in files %}
             <tr>
             <td>{{ fname }}</td>
             <td style="text-align: right;">{{ fsize }}</td>
             <td style="text-align: right;">{{ refs }}</td>
            {% if current_user.utype >= 4 %}
                <td> &nbsp;&nbsp;
                    <a href="{{ url_for('static',filename='/files/'+fname) }}" target="_blank"><img src="{{ url_for('static',filename='1.png') }}"></a>
                    <a href="{{ url_for('edit_file',next=request.url, n=fname) }}"><img src="{{ url_for('static',filename='edit-24.png') }}" title="Popravi vir"></a>
                    <a href="{{ url_for('delete_file',next=request.url, n=fname) }}"><img src="{{ url_for('static',filename='delete-24.png') }}" title="Briši vir"></a>
                </td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    

{% endblock %}		
