<!-- # -*- coding: utf-8 -*- -->

{% extends "base.html" %}

{% block content %}

    <p><div class="page-title">Popravljanje podatkov o uporabniku</div><br>
    {% if users %}
	    <table>
		<tr><th>Username</th> <th>Role</th> <th>Active</th> <th>Email</th> </tr>
        {% for user in users %}
			<tr>
			<td>{{ user.username }}</td>
			<td>{{ user.utype }}</td>
			<td>{{ user.active }}</td>
			<td>{{ user.email}}</td>
			</tr>
		{% endfor %}
		</table> <br>
	{% endif %}

{% endblock %}	
