{% extends "base.html" %}

{% block content %}

<form method="post">
    <p><div class="page-title">Prijava v sistem</div>
    <table>
        <tr>
            <td style="text-align:right;">Uporabnik</td>
            <td><input type="text" name="username" value="{{username}}"></td>
        </tr><tr>
            <td style="text-align:right;">Geslo</td>
            <td><input type="password" name="password"></td><br>
            <td style="color:red;">{{loginMsg}}</td>
        </tr><tr>
            <td></td><td><input type="checkbox" value="1" name="remember">Zapomni si prijavo<br></td>
        </tr>
    </table>
    <input type="hidden" value="0" name="remember" >
    <br>
    <input type="submit" value="Prijavi">
</form>

{% endblock %}
