{% extends "base.html" %}

{% block content %}

<form method="post">
    <div style="float:left; width:45%;">
        <p><div class="page-title">Prijava v sistem</div>
    </div>
    <div style="float:left; width:30%;">
        &nbsp;&nbsp;<a href="{{ url_for('tennis_main') }}"><img src="{{ url_for('static',filename='home-32.png') }}" title="Domov"></a>
    </div>
    <div style="clear:both;"></div>
    <table>
        <tr>
            <td style="text-align:right;">Uporabnik</td>
            <td><label>
                <input type="text" name="username" value="{{username}}">
            </label></td>
        </tr><tr>
            <td style="text-align:right;">Geslo</td>
            <td><label>
                <input type="password" name="password">
            </label><br></td>
            <td style="color:red;">{{loginMsg}}</td>
        </tr><tr>
            <td></td><td><label>
        <input type="checkbox" value="1" name="remember">
    </label>Zapomni si prijavo<br></td>
        </tr>
    </table>
    <input type="hidden" value="0" name="remember" >
    <br>
    <input type="submit" value="Prijavi">
</form>

{% endblock %}
