<!--# -*- coding: utf-8 -*- -->

{% extends "base.html" %}

{% block content %}

    
    <div style="position=:relative; height:35px;">
        <div style="float:left; width:70%;">
            &nbsp;&nbsp;<a href="/"><img src="static/1414454853_house_home-32.png" title="Domov"></a>
            &nbsp;&nbsp;<a href="?p={{prevPage}}"><img src="static/1413926788_circle_back_arrow-32.png" title="Prejšnja stran"></a>
            &nbsp;&nbsp;<a href="?p={{nextPage}}"><img src="static/1413926781_circle_next_arrow_disclosure-32.png" title="Naslednja stran"></a>
            {% if current_user.is_authenticated() %}
                &nbsp;&nbsp;<a href="/add"><img src="static/1414093791_circle_add_plus-32.png" title="Dodaj nov dogodek"></a>
            {% endif %}
        </div>
        <div style="float:left; width:30%; text-align:right; color:red;">
            {% if not production %} <b>Razvojno okolje</b> {% endif %}
        </div>
    </div>

        <div style="clear:both; float:left; width:80%;">
        {% if events %}
            {% set year = 0 %}
            {% set pos = start %}
            {% for event in events %}
                {% if year != event.Date[:4] %}
                    {% if year != 0 %}
                        </table>
                    {% endif %}
                    <br><a href="/?p={{pos}}" class="year">{{ event.Date[:4] }}</a>
                    {% set year = event.Date[:4] %}
                    <table class="main-table" style="width:95%">
                      <tr><th>datum</th><th>dogodek</th><th>kraj</th><th>kategorija</th><th>rezultat</th><th>igralec</th><th></th><th></th></tr>
                {% endif %}
                <tr>
                <td style="">
                {% if event.Date[4:] == "/00/00" %}
                    {{ event.Date[:4] }}
                {% elif event.Date[7:] == "/00" %}
                    {{ event.Date[5:7] }}.{{ event.Date[:4] }}
                {% else %}
                    {{ event.Date[8:] }}.{{ event.Date[5:7] }}.{{ event.Date[:4] }}
                {% endif %}
                </td>
                <td style=""> {{ event.Event }} </td>
                <td style=""> {{ event.Place }} </td>
                <td style=""> {{ event.Category }} </td>
                <td style=""> {{ event.Result }} </td>
                <td style=""> {{ event.Player }} </td>
                <td style="">
                {% if event.Att1 != "" and event.Att1[:4] != "err_" %}
                    <a href="static/files/{{year}}/{{year}}_{{event.Att1}}" target="_blank"><img src="static/1.png"></a>
                {% elif event.Att1 != "" and event.Att1[:4] == "err_" and current_user.is_authenticated() %}
                    <a href="correct?id={{ event.Id }}&att=1&d={{year}}&f={{event.Att1[4:]}}"><img src="static/1414881448_editor_image_picture_photo-24.png"></a>
                {% endif %}
                {% if event.Att2 != "" and event.Att2[:4] != "err_"%}
                    <a href="static/files/{{year}}/{{year}}_{{event.Att2}}" target="_blank"><img src="static/2.png"></a>
                {% elif event.Att2 != "" and event.Att2[:4] == "err_" and current_user.is_authenticated() %}
                    <a href="correct?id={{ event.Id }}&att=2&d={{year}}&f={{event.Att2[4:]}}"><img src="static/1414881448_editor_image_picture_photo-24.png"></a>
                {% endif %}
                {% if event.Att3 != "" and event.Att3[:4] != "err_"%}
                    <a href="static/files/{{year}}/{{year}}_{{event.Att3}}" target="_blank"><img src="static/3.png"></a>
                {% elif event.Att3 != "" and event.Att3[:4] == "err_" and current_user.is_authenticated() %}
                    <a href="correct?id={{ event.Id }}&att=3&d={{year}}&f={{event.Att3[4:]}}"><img src="static/1414881448_editor_image_picture_photo-24.png"></a>
                {% endif %}
                {% if event.Att4 != "" and event.Att4[:4] != "err_"%}
                    <a href="static/files/{{year}}/{{year}}_{{event.Att4}}" target="_blank"><img src="static/4.png"></a>
                {% elif event.Att4 != "" and event.Att4[:4] == "err_" and current_user.is_authenticated() %}
                    <a href="correct?id={{ event.Id }}&att=4&d={{year}}&f={{event.Att4[4:]}}"><img src="static/1414881448_editor_image_picture_photo-24.png"></a>
                {% endif %}
                </td>
                <td style="text-align:right;"
                    {% if event.Comment != "" %}
                        rowspan="2"
                    {% endif %}>
                    {% if current_user.is_authenticated() and current_user.utype >= User.comment%}
                        <a href="/edit?id={{ event.Id }}"><img src="static/1413927437_editor_pencil_pen_edit_write-24.png" title="Popravi dogodek"></a>
                    {% endif %}
                    <a href="/comment?id={{ event.Id }}"><img src="static/1413927480_other_conversation_review_comment_bubble_talk-24.png" title="Komentiraj dogodek"></a>
                	{% if current_user.is_authenticated() %}
                            <a href="/duplicate?id={{ event.Id }}"><img src="static/1414093784_circle_add_plus-24.png" title="Podvoji dogodek"></a>
                            <a href="/delete?id={{ event.Id }}"><img src="static/1413927465_editor_trash_delete_recycle_bin-24.png" title="Briši dogodek"></a>
                    {% endif %}
                </td></tr>
                {% if event.Comment != "" %}
                    <tr><td class="main-table-comment" colspan="6">{{ event.Comment }}<td></tr>
                {% endif %}
                {% set pos = pos + 1 %}
            {% endfor %}
            </table>
        {% endif %}
        </div>

    <div style="float:right; background:#94BEFA; padding:15px;">
    {% if players %}
        <br>Najbolji igralci (1954-1984):<br style="line-height:30px;">
        <table>
        {% for player in players %}
            <tr>
            <td><a href="/player?n={{player[0]}}">{{ player[0] }}</a> ({{player[1]}}x,{{player[2]}})</td>
            </tr>
        {% endfor %}
        </table>
        <a href="/player">...</a><br>
        <br>
    {% endif %}
    </div>

{% endblock %}		
