<!--# -*- coding: utf-8 -*- -->

{% extends "base.html" %}

{% block next %}/{% endblock %}
{% block content %}

    
    <div style="position:relative; height:35px;">
        <div style="float:left; width:90%;">
            <form method="post">
                &nbsp;&nbsp;
                <a href="{{ url_for('tennis_main') }}"><img src="{{ url_for('static',filename='home-32.png') }}" title="Domov"></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('tennis_main',p=prevPage) }}"><img src="{{ url_for('static',filename='back_arrow-32.png') }}" title="Prejšnja stran"></a>
                &nbsp;&nbsp;
                <a href="{{ url_for('tennis_main',p=nextPage) }}"><img src="{{ url_for('static',filename='next_arrow-32.png') }}" title="Naslednja stran"></a>

                &nbsp;&nbsp;&nbsp;&nbsp;igralec: <label><select name="select_player">
                     <option value=""></option>
                    {% for player in players %}
                        {%  if player|length > 2 %}
                            <option value="{{ player }}">{{ player }}</option>
                        {%  endif %}
                    {% endfor %}
                </select></label>

                &nbsp;&nbsp;dogodek: <label>
                <input type="text" name="event_filter" size="10" placeholder="išči dogodek" value="{{ event_filter }}">
                </label>

                &nbsp;&nbsp;leto: <label><select name="select_year">
                    {% for year in years %}
                        <option value="{{ year }}"
                            {% if year ==  events[0].Date[:4] %} selected {%  endif %}
                        >{{ year }}</option>
                    {% endfor %}
                </select></label>
                <input type="submit" value="Izberi">

                {% if current_user.is_authenticated() %}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ url_for('add_event',next=request.url) }}"><img src="{{ url_for('static',filename='add-32.png') }}" title="Dodaj nov dogodek"></a>
                {% endif %}
                {% if current_user.utype >= 2 %}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ url_for('edit_user',next=request.url) }}"><img src="{{ url_for('static',filename='group-32.png') }}" title="Uredi uporabnike"></a>
                {% endif %}
                {% if current_user.utype >= 4 %}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ url_for('shutdown',next=request.url) }}"><img src="{{ url_for('static',filename='power-32.png') }}" title="Ugasni strežnik"></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ url_for('upload_picture',next=request.url) }}"><img src="{{ url_for('static',filename='upload-32.png') }}" title="Naloži novo sliko"></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ url_for('events.csv',next=request.url) }}"><img src="{{ url_for('static',filename='download-32.png') }}" title="Prenesi events.csv"></a>
                {% endif %}
                {% if current_user.utype >= 5 %}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ url_for('data_reload',next=request.url) }}"><img src="{{ url_for('static',filename='sync-32.png') }}" title="Ponovno naloži podatke"></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ url_for('audit',next=request.url) }}"><img src="{{ url_for('static',filename='search-32.png') }}" title="Prikaži revizijske podatke"></a>
                {% endif %}
            </form>
        </div>
        <div style="float:left; width:30%; text-align:right; color:red;">
            {% if not production %} <b>Razvojno okolje</b> {% endif %}
        </div>
    </div>
    <div style="clear:both;"></div>

    <div style="clear:both; float:left; width:80%;">
    {% if events %}
        {% set year = 0 %}
        {% set pos = start %}
        {% for event in events %}
            {% if year != event.Date[:4] %}
                {% if year != 0 %}
                    </table>
                {% endif %}
                <br><a href="{{ url_for('tennis_main',p=pos) }}" class="year">{{ event.Date[:4] }}</a>
                {% set year = event.Date[:4] %}
                <table class="main-table" style="width:95%">
                    <tr><th style="width:80px;">datum</th><th>dogodek</th>
                        <th style="width:140px;">kraj</th>
                        <th style="width:80px;">kategorija</th><th style="width:40px;">rezultat</th>
                        <th style="width:150px;">igralec</th><th style="width:60px;"></th>
                        {% if current_user.is_authenticated() %}<th style="width:100px;"></th>{% endif %}</tr>
            {% endif %}
            <tr>
            <td style="">
            {% if event.Date[4:] == "/00/00" %}
                {{ event.Date[:4] }}
            {% elif event.Date[7:] == "/00" %}
                {{ event.Date[5:7] }}.{{ event.Date[:4] }}
            {% else %}
                {{ event.Date[8:] }}.{{ event.Date[5:7] }}.{{ event.Date[:4] }}
            {% endif %}
            </td>
            <td style=""> {{ event.Event }} </td>
            <td style=""> {{ event.Place }} </td>
            <td style=""> {{ event.Category }} </td>
            <td style=""> {{ event.Result }} </td>
            <td style=""> 
                {% if event.Player != "" %}
                    <a href="{{ url_for('show_player',n=event.Player) }}">{{ event.Player }}</a>
                {% endif %}
            </td>
            <td style="">
            {% if event.Att1 != "" and event.Att1[:4] != "err_" %}
                <a href="{{ url_for('static',filename='/files/'+year+'/'+event.Att1) }}" target="_blank"><img src="{{ url_for('static',filename='1.png') }}"></a>
            {% elif event.Att1 != "" and event.Att1[:4] == "err_" and current_user.is_authenticated() %}
                <a href="{{ url_for('correct',next=request.url, id=event.Id, att=1, d=year, f=event.Att1[4:]) }}"><img src="{{ url_for('static',filename='err_picture-24.png') }}"></a>
            {% endif %}
            {% if event.Att2 != "" and event.Att2[:4] != "err_"%}
                <a href="{{ url_for('static',filename='/files/'+year+'/'+event.Att2) }}" target="_blank"><img src="{{ url_for('static',filename='2.png') }}"></a>
            {% elif event.Att2 != "" and event.Att2[:4] == "err_" and current_user.is_authenticated() %}
                <a href="{{ url_for('correct',next=request.url, id=event.Id, att=2, d=year, f=event.Att2[4:]) }}"><img src="{{ url_for('static',filename='err_picture-24.png') }}"></a>
            {% endif %}
            {% if event.Att3 != "" and event.Att3[:4] != "err_"%}
                <a href="{{ url_for('static',filename='/files/'+year+'/'+event.Att3) }}" target="_blank"><img src="{{ url_for('static',filename='3.png') }}"></a>
            {% elif event.Att3 != "" and event.Att3[:4] == "err_" and current_user.is_authenticated() %}
                <a href="{{ url_for('correct',next=request.url, id=event.Id, att=3, d=year, f=event.Att3[4:]) }}"><img src="{{ url_for('static',filename='err_picture-24.png') }}"></a>
            {% endif %}
            {% if event.Att4 != "" and event.Att4[:4] != "err_"%}
                <a href="{{ url_for('static',filename='/files/'+year+'/'+event.Att4) }}" target="_blank"><img src="{{ url_for('static',filename='4.png') }}"></a>
            {% elif event.Att4 != "" and event.Att4[:4] == "err_" and current_user.is_authenticated() %}
                <a href="{{ url_for('correct',next=request.url, id=event.Id, att=4, d=year, f=event.Att4[4:]) }}"><img src="{{ url_for('static',filename='err_picture-24.png') }}"></a>
            {% endif %}
            </td>
            {% if current_user.is_authenticated() %}
                <td style="text-align:right;" {% if event.Comment != "" %}rowspan="2"{% endif %}>
            {% endif %}
            {% if current_user.utype >= 3 %}
                <a href="{{ url_for('edit_event',next=request.url, id=event.Id) }}"><img src="{{ url_for('static',filename='edit-24.png') }}" title="Popravi dogodek"></a>
            {% endif %}
            {% if current_user.utype >= 1 %}
                <a href="{{ url_for('edit_comment',next=request.url, id=event.Id) }}"><img src="{{ url_for('static',filename='comment-24.png') }}" title="Komentiraj dogodek"></a>
            {% endif %}
            {% if current_user.is_authenticated() %}
                <a href="{{ url_for('duplicate',next=request.url, id=event.Id) }}"><img src="{{ url_for('static',filename='add-24.png') }}" title="Podvoji dogodek"></a>
                <a href="{{ url_for('delete',next=request.url, id=event.Id) }}"><img src="{{ url_for('static',filename='delete-24.png') }}" title="Briši dogodek"></a>
            {% endif %}
            {% if current_user.is_authenticated() %}</td>{% endif %}
            </tr>
            {% if event.Comment != "" %}
                <tr><td class="main-table-comment" colspan="6">{{ event.Comment }}<td></tr>
            {% endif %}
            {% set pos = pos + 1 %}
        {% endfor %}
        </table>
    {% endif %}
    <div style="height:30px;"></div>
    </div>

    <!--
    <div style="float:right; background:#94BEFA; padding:15px;">
    {% if players %}
        <br>Najpogostejši igralci:<br style="line-height:30px;">
        <table>
        {% for player in top_players %}
            <tr>
            <td><a href="{{ url_for('show_player') }}?n={{player[0]}}">{{ player[0] }}</a> ({{player[1]}}x)</td>
            </tr>
        {% endfor %}
        </table><br>
        <a href="{{ url_for('show_player') }}">vsi igralci</a><br>
        <br>
    {% endif %}
    </div>
    -->

{% endblock %}		
