<!--# -*- coding: utf-8 -*- -->

{% extends "base_new.html" %}

{% block next %}/{% endblock %}
{% block content %}

    <!-- Begin page content -->
    <div class="container scroll">
        {% if pictures %}
            <a class="next" href="
                {% if param_a %}
                    {{ url_for("tennis_pictures_year", y=year, m=param_m, a=1) }}
                {% else %}
                    {{ url_for("tennis_pictures_year", y=year, m=param_m) }}
                {% endif %}
                "> leto {{ year }}</a>
        {% endif %}
    </div>


    <script>
        $(document).ready(function(){
            //Handles menu drop down
            $('.dropdown-menu').find('form').click(function (e) {
                e.stopPropagation();
            });

            $('.scroll').jscroll({
                autoTrigger: true,
                nextSelector: 'a.next:last',
                padding: 20,
                contentSelector: '',
                loadingHtml: '<small>Počakaj...</small>',
                debug: false
            })
       });
    </script>


    <div style="clear:both;"></div>

{% endblock %}		
