{% extends "base.html" %}

{% block content %}

    <form action="{{ url_for('Player') }}" method="POST">
        &nbsp;&nbsp;
        <a href="{{ url_for('TennisMain') }}"><img src="{{ url_for('static',filename='1414454853_house_home-32.png') }}" title="Domov"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Isci: <input type="text" name="search" value="{{ search }}">
        <input type="Submit" name="Submit" value="Submit">
    </form><br> 

    {% if players %}
        <table>
        {% for player in players %}
            {% if (loop.index % 6 == 1) %}
                <tr>
            {% endif %}
            <td><a href="/player?n={{player[0]}}">{{ player[0] }}</a> ({{player[1]}}x)</td>
            {% if (loop.index % 6 == 0) %}
                </tr>
            {% endif %}
        {% endfor %}
        </tr></table>
    {% endif %}
    

{% endblock %}		
