{% import "defs.html" as d %}

<!-- Begin page content -->
{% if events %}
    {% set year = [0] %}
    {% for (group,event) in events %}
        {% if year[0] != event.Date[:4] %}
            <div class="page-header">
                <a href="{{ url_for('tennis_events',y=event.Date[:4]) }}" class="year">{{ event.Date[:4] }}</a>
            </div>
            {% set year = [event.Date[:4]] %}
        {% endif %}

        {% set y = event.Date[:4] %}
        {% if event.Date[4:] == "/00/00" %}
            {%  set date = "" %}
        {% elif event.Date[7:] == "/00" %}
            {% set date = event.Date[5:7] %}
        {% else %}
            {% set date = event.Date[8:] + "." +  event.Date[5:7] %}
        {% endif %}

        {%  set show_more = False %}
        {% if event.Comment != "" or event.Att1 != "" %}
            {%  set show_more = True %}
        {% endif %}

        {% if group == 0 %} <!-- single entry -->
            <div class="panel panel-default" style="margin-top: 5px; margin-bottom: 0;">
                <div class="panel-heading">
                    <div class="row">
                        {{ d.event(date, event.Event, event.Place) }}
                        {{ d.result_line1(event.Category, event.Result, "", "") }}
                        {% if show_more %}
                            <span class="pull-right clickable panel-collapsed">
                                <i class="text-primary glyphicon glyphicon-chevron-right">&nbsp;</i></span>
                            </div> <div class="row">
                            <div class="panel-body panel-collapse collapse">
                                {{ d.atts_line2(y, event.Att1, event.Att2, event.Att3, event.Att4, loop.index) }}
                                <div class="col-sm-5"> {{ event.Comment }}. </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        {% elif group > 0 %} <!-- group -->
            {% if group == 1 %} <!-- start group -->
                <div class="panel panel-default" style="margin-top: 5px; margin-bottom: 0;">
                    <div class="panel-heading">
                        <div class="row panel-title">
                            {{ d.event(date, event.Event, event.Place) }}
                            <div class="col-sm-2"><span class="pull-right"></span></div>
                            <span class="pull-right clickable panel-collapsed">
                                <i class="text-primary glyphicon glyphicon-chevron-right">&nbsp;</i></span>
                        </div>
                    </div>
                    <div class="panel-body panel-collapse collapse">
                        <div class="row">
                            {{ d.atts_line2(y, event.Att1, event.Att2, event.Att3, event.Att4, loop.index) }}
                            <div class="col-sm-5">
            {% endif %}
                                <div class="row">
                                    <div class="col-sm-2">{{ event.Category }}</div>
                                    <div class="col-sm-2">{{ event.Result }}</div>
                                    <div class="col-sm-6"></div>
                                </div>
            {% if group == 3 %} <!-- end group -->
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        {% endif %}

    {% endfor %}

    {% if next_y != "0" %}
        <a class="next" href="{{ url_for("players_year", y=next_y, p=player_name, f=event_filter) }}">
            leto {{ next_y }}</a>
    {% endif %}

{% endif %}
