<!--# -*- coding: utf-8 -*- -->

{% extends "base_new.html" %}

{% block content_top %}
    <div class="container scroll">
        <div class="panel">
            <div class="row">
                <div style="float:left; width:25%">
                    {% if player %}
                        {% if player.Picture %}<img src="{{ url_for('static',filename='files/')}}
                            {{ player.Picture }}" alt="Players picture" width="200" height="200" style="">{% endif %}
                    {% endif %}
                </div>
                <div style="float:left; width:45%;">
                    <div class="player_name">{{ player_name }}</div>
                    {% if player %}
                    <div class="player_data">
                        {% if player.Born %}leto rojstva {{ player.Born }}<br>{% endif %}
                        {% if player.Died %}leto smrti {{ player.Died }}<br>{% endif %}
                        {% if player.Comment %}{{ player.Comment }}<br>{% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}

    <!-- Begin page content -->
    <div class="container scroll">
        {% if events %}
            <a class="next" href="{{ url_for("players_year", y=year, p=player_name, f=event_filter) }}">
                leto {{ year }}</a>
        {% endif %}
    </div>


    <script>
        $(document).on('click', '.panel-heading span.clickable', function(e){
            var $this = $(this);
            if(!$this.hasClass('panel-collapsed')) {
                $this.parents('.panel').find('.panel-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-right');
            } else {
                $this.parents('.panel').find('.panel-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-chevron-right').addClass('glyphicon-chevron-down');
            }
        });

        $(document).ready(function(){
            //Handles menu drop down
            $('.dropdown-menu').find('form').click(function (e) {
                e.stopPropagation();
            });

            $('.scroll').jscroll({
                autoTrigger: true,
                nextSelector: 'a.next:last',
                contentSelector: '',
                loadingHtml: '<small>Počakaj...</small>',
                debug: true
            })
       });
    </script>


    <div style="clear:both;"></div>


{% endblock %}
