{% extends "base.html" %}

{% block content %}

<form method="post">
	<h1>Signup</h1><br>
	<table>
		<tr>
			<td style="text-align:right;">Username</td>
			<td><label>
                <input type="text" name="username" value="{{username}}">
            </label></td>
			<td style="color:red;">{{userMsg}}</td>
		</tr><tr>
			<td style="text-align:right;">Password</td>
			<td><label>
                <input type="password" name="password">
            </label></td>
			<td style="color:red;">{{pass1Msg}}</td>
		</tr><tr>
			<td style="text-align:right;">Verify Password</td>
			<td><label>
                <input type="password" name="verify">
            </label></td>
			<td style="color:red;">{{pass2Msg}}</td>
		</tr><tr>
			<td style="text-align:right;">Email (optional)</td>
			<td><label>
                <input type="text" name="email" value="{{email}}">
            </label></td>
			<td style="color:red;">{{emailMsg}}</td>
		</tr>
	</table>
	<input type="submit">
</form>

{% endblock %}