{% extends "base_new.html" %}

{% block content %}

<form method="post">
    <div style="float:left; width:45%;">
        <p><div class="page-title">Registracija novega uporabnika</div>
    </div>
    <div style="clear:both;"></div>
	<table>
		<tr>
			<td style="text-align:right;">Elektronska pošta </td>
			<td><label>
                <input type="text" name="username" value="{{username}}">
            </label></td>
		</tr><tr>
			<td style="text-align:right;">Geslo </td>
			<td><label>
                <input type="password" name="password">
            </label></td>
		</tr><tr>
			<td style="text-align:right;">Ponovi geslo </td>
			<td><label>
                <input type="password" name="verify">
            </label></td>
		</tr>
	</table>
    <br>
    <input type="submit" value="Registriraj">
</form>

{% endblock %}