<!-- # -*- coding: utf-8 -*- -->

{% extends "base.html" %}

{% block content %}

    <p><div class="page-title">Nalaganje nove slike na strežnik</div><br>
    <form method="post" enctype="multipart/form-data">
        leto: <label><select name="select_year">
        {% for y in years %}
            <option value="{{ y }}">{{ y }}</option>
        {% endfor %}
        </select></label>

        <input type="file" name="upload"> <br><br>

        {%  if years|length == 1 %}
            Obstoječi viri: <label><select name="select_file">
            <option value="izberi" selected>izberi obstoječe ime vira</option>
            {% for f in files %}
                <option value="{{ y }}">{{ y }}</option>
            {% endfor %}
            </select></label>
        {%  endif %}
        Spremeni ime vira:
        <input type="text" name="new_name" placeholder="ne spremeni imena">
         <br><br><br>
        <input type="Submit" name="Status" id="button" value="Shrani">
	    <input type="Submit" name="Status" id="button" value="Prekliči">
    	<button type="Reset"               id="button" value="Reset">Obnovi</button>
    </form>

{% endblock %}	
